[package]
name = "gh-login"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = {version = "4.3", features = ["default", "cargo"]}
reqwest = {version = "0.11", features= ["default-tls"]}
